<h3>Sign in for Add Post</h3>

<form action="/admin" method="post">
  <label for="username"><b>UserName</b></label>
  <input type="text" placeholder="Please Enter UserName" name="username" />
  
  <label for="password"><b>Password</b></label>
  <input type="password" placeholder="Please Enter Password" name="password" />
  
  <input type="submit" class="btn" value="Login" />
</form>

<h3>Sign in for Add Project</h3>

<form action="/admin_project" method="post">
  <label for="username"><b>UserName</b></label>
  <input type="text" placeholder="Please Enter UserName" name="username" />

  <label for="password"><b>Password</b></label>
  <input type="password" placeholder="Please Enter Password" name="password" />

  <input type="submit" class="btn" value="Login" />
</form>
<!-- 

<h3>Register Form</h3>

<form action="/register" method="post">
  <label for="username"><b>UserName</b></label>
  <input type="text" placeholder="Please Enter UserName" name="username" />

  <label for="password"><b>Password</b></label>
  <input type="password" placeholder="Please Enter Password" name="password" />

  <input type="submit" class="btn" value="Register" />
</form> -->