<div class="searchBar">
  <div class="container">
    <form action="/search" class="search_form" role="search" method="post">
      <input 
      type="search"
      aria-label="search"
      id="searchInput"
      name="searchterm"
      placeholder="search the Post... " />
    </form>
    <div id="searchclose">Close</div>
  </div>
</div>
  